.card-product-container {
  /* align-items: center; */
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.205);
  display: flex;
  margin: 1rem;
  padding: 0 15px;
  width: 800px;
}

.card-product-container div {
  margin: 1rem;
}

.card-product-container a {
  align-items: center;
  background-color: #274E83;
  border-radius: 8px;
  color: #fff;
  display: flex;
  justify-content: center;
  line-height: 1rem;
  padding: 0 10px;
  text-decoration: none;
}

.card-product-container div:nth-child(2) {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  flex-basis: 600px;
}

.card-product-container div:nth-child(2) p {
  font-size: 20px;
}

.card-product-container div:nth-child(2) div {
  display: flex;
  flex-direction: row;
}

.image-container {
  height: 12rem;
  margin: 0;
  width: 10rem;
}

.image-container img {
  max-height: 99%;
  max-width: 100%;
}

